.orders{
    padding: 20px 80px;
}
.orders h1{
    margin:30px 0;
}
.edit{
    margin-top:6px;
    border-radius: 10px;
    margin-bottom:-14px;
    width:300px;
    height:100px;
    border:2px solid #afedf8;
}