.checkout {
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  margin-top: 140px;
  width: 100%;
}
.heloo{
  color:rgb(63, 200, 235) !important;
}
.emailmy {
  font-weight: 800;
  color:rgb(63, 200, 235);
}
.checkout__title {
  margin-left: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
